body {
    background-color: #262626;
    color: white;

    overflow-x: hidden;
    overflow-y: auto;

    margin: 0;
    padding: 0;

}

@font-face {
    src: url("./font/fightthis.ttf");
    font-family: "Afont";
}

.titleImg {
    position: relative;

    left: 65%;
    transform: translate(-50%, -50%);
    top: 350px;

    z-index: 2;
}

.shapeImg {
    position: absolute;
    filter: brightness(65%);

    left: -2%;
    top: 50px;

    /*animation-delay: 1s;*/
    animation-duration: 1.5s;
    animation-name: startMove;
    animation-iteration-count: 1;

}

#shapeImg2 {

    position: absolute;
    filter: brightness(65%);

    left: 20%;
    top: 500px;

    width: 100px;
    height: auto;

    animation-duration: 1.5s;
    animation-name: startMove;
    animation-iteration-count: 1;
}

@keyframes startMove {

    0% {
        opacity: 1%;
    }

    100% {
        opacity: 100%;
    }

}

.lightBox {
    /*background: #575757;*/
    position: absolute;

    /*width: 1000px;*/
    /*height: 2000px;*/

    border-top: 1000px solid #494949;
    border-right: 500px solid #494949;
    border-bottom: 1000px solid transparent;
    border-left: 500px solid transparent;

    left: 40%;
    top: -300px;

    /*transform: rotate(-15deg);*/
}

.copyright {
    position: relative;
    display: flex;
    padding-bottom: 30px;

    top: 1100px;

    left: 42%;
}

.sign {
    width: 200px;
    height: auto;
    font-family: Afont;
    font-size: 30px;

    position: relative;
    left: 10%;
    top: 970px;

    z-index: 2;
}

.sign2 {
    width: 200px;
    height: auto;
    font-family: Afont;
    font-size: 30px;

    position: relative;
    left: 24%;
    top: 400px;

    z-index: 2;
}

.txt {
    font-family: "Afont";
    font-size: 18px;
    padding-right: 20px;
}

.logo {
    width: 120px;
    height: auto;
}

.info {
    position: relative;
    top: 500px;
    left: 10%;
}

.dply-info-title {


    font-size: 55px;
    padding-bottom: 10px;
    font-family: Afont;

}

.dply-info-txt {
    font-size: 30px;
    padding-bottom: 50px;
    font-family: Afont;
}
.dply-info-txt2 {
    font-size: 30px;

    font-family: Afont;
}

.join-title {
    font-size: 55px;
    padding-bottom: 10px;
    font-family: Afont;
}

.join-txt {
    font-size: 30px;
    padding-bottom: 50px;
    font-family: Afont;
}

.join {
    position: relative;

    top: 1000px;
    left: 10%;

}
